<div class="panel panel-info">
    <div class="panel-heading">
       <h2 class="panel-title">Add a new staff member</h2>
       </div>
<div class="panel-body">
<form>
    <label for="newlastname">Last Name: </label>
    <input class="form-control" type="text" id="newlastname" name="newlastname" placeholder="Your last name goes here" value="{{lname}}" /><br>
    <label for="newfirstname">First Name: </label>
    <input class="form-control" type="text" id="newfirstname" name="newfirstname" placeholder="Your frist name goes here" value="{{fname}}" /><br>
    <label for="newemail">Email: </label>
    <input class="form-control" class="form-control" type="email" id="newemail" name="newemail" placeholder="Enter vaild email" value="{{email}}" /><br>
    <label for="newphonenumber">Phone Number: </label>
    <input class="form-control" type="tel" id="newphonenumber" name="newphonenumber" placeholder="Enter new phone number" value="{{ph}}" /><br>
    <label for="newaddress">Address: </label>
    <input class="form-control" type="text" id="newaddress" name="newaddress" placeholder="Enter address" value="{{address}}" /><br>
    <label for="newjobtitle">Job title: </label>
    <input class="form-control" type="text" id="newjobtitle" name="newjobtitle" placeholder="Enter job title" value="{{title}}" /><br>
    <button class="btn btn-info" type="submit" formmethod="post" formaction="/add">Save</button> 
    <button class="btn btn-info" type="submit" formmethod="post" formaction="/clear">clear</button>
</form> 
</div>
</div>